# Errors

The Cerby API uses the following standard HTTP response codes to identify the status of each API request. 

* **`2xx`:** Indicates successful requests.
* **`4xx`:** Indicates errors caused by the information provided in the request, such as missing parameters or incorrect IDs.

The following table describes each HTTP response code:

<table>
  <tr>
    <th style="width: 15%;">Code</th>
    <th style="width: 25%;">Status</th>
    <th style="width: 60%;">Description</th>
  </tr>
  <tr>
    <td><code><b>200</b></code></td>
    <td><code>OK</code></td>
    <td>Indicates that the request has succeeded.</td>
  </tr>
  <tr>
    <td><code><b>401</b></code></td>
    <td><code>Unauthorized</code></td>
    <td>Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource. 
    <p>Verify your Cerby API key or generate a new one.</td>
  </tr>
  <tr>
    <td><code><b>404</b></code></td>
    <td><code>Not found</code></td>
    <td>Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.
    <p>Verify your request.
    </td>
  </tr>
</table>