# Users

In Cerby, users are individuals who have access to a workspace and can create, protect, 
and manage items. A user object contains information about the user name, email, 
workspace role, and other relevant attributes within the context of your workspace.

A user object is created in Cerby when you perform any of the following actions:

* Provision a user in Cerby from your corporate identity provider (IdP), such as Okta
or Entra ID (formerly Azure AD).
* Invite a user to join a local user workspace, with an identity managed by Cerby.
* Invite a user to join a workspace as a guest user, with an identity managed by Cerby.

With the Cerby API, you can retrieve all users or specific users by providing their ID. 

<aside class="warning">
<b>IMPORTANT:</b> You can only retrieve users if you have the workspace <b>Admin</b>, 
<b>Super Admin</b>, or <b>Owner</b> role. Your permissions are determined by your API 
or bearer token, based on Cerby’s RBAC system.
</aside>

> The following is a sample response object:

```json
{
  "id": "6d23c85b-d3f9-34c7-bb34-7c00000000c5",
  "type": "user",
  "attributes": {
    "firstName": "John",
    "lastName": "Doe",
    "email": "john@doe.com",
    "status": "live",
    "role": "workspace_super_admin",
    "isGuest": false,
    "createdAt": "2024-01-04T15:36:54",
    "updatedAt": "2024-07-08T19:30:56",
    "lastActivity": "2024-09-05T20:46:14.357000"
    }
}
```

<table>
  <tr>
    <th style="width: 40%;">Attribute</th>
    <th style="width: 60%;">Description</th>
  </tr>
  <tr>
    <td><code><b>id</b></code><br><em>string</em></td>
    <td>The unique identifier for the user.</td>
  </tr>
  <tr>
    <td><code><b>attributes</b></code><br><em>object or dictionary</em></td>
    <td>The attributes of the account.</td>
  </tr>
  <tr>
    <td colspan=2>
    <details>
        <summary><a>View object attributes</a></summary>
        <table>
          <tr>
            <td><code><b>firstName</b></code><br><em>string</em></td>
            <td>The user’s first name</td>
          </tr>
          <tr>
            <td><code><b>lastName</b></code><br><em>string</em></td>
            <td>The user’s last name</td>
          </tr>
          <tr>
            <td><code><b>email</b></code><br><em>string</em></td>
            <td>The user’s email</td>
          </tr>
          <tr>
            <td><code><b>status</b></code><br><em>string</em></td>
            <td>The user’s current status</td>
          </tr>
        </table>
      </details>
    </td>
  </tr>
</table>